/*************************
*******Footer CSS******
**************************/

  #footer {
      background: #0a0a1e;
      margin-top: 50px;
      color: #fff;
    }
    
    
  .footer-top .container {
      border-bottom: 1px solid #E0E0DA;
  }
    

  .contenido_footer{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .final{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
  }